

.pfp {
  display:inline-block;
  padding-right:9px;
  padding-bottom:5px;
  padding-top:14px;
  padding-left:13px;
	cursor: url(img/cursor.png), auto;
  border-color: green;
  border-image-slice: 35 45 46 35;
  border-image-width: 30px 37px 40px 36px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(img/tech.gif);
  z-index: -1;
  border-style: solid;
}

.pic {
	cursor: url(img/cursor.png), auto;
  border-color: green;
  border-image-slice: 39 47 47 24;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(img/tech.gif);
  border-style: solid;
  position: relative;
  z-index: -1;
}

.name1{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: italic;
  color: #cccccc;
}


.name2{
    font-family: "Press Start 2P", system-ui;
  font-weight: 100;
  font-style: normal;
  color: #cccccc;
}

marquee{
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #cccccc;
}

.profile{
	background-color: #212121;    
}

.biotxt{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: italic;
  color: #cccccc;
}

p{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  color: #cccccc;
}

.pfpbio{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    color: #cccccc;
}

strong{
  color: rgb(88, 40, 40);
}

u{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  color: #cccccc;
}

li {
  cursor: url(img/crursor.png), auto;

}

.rainbow{
  font-family: "Press Start 2P", system-ui;
   animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
}

@keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-moz-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-webkit-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}
